---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const {
	title,
	description,
	image,
	url,
	type = "website",
	keywords,
} = Astro.props;

const defaultTitle = "Axel Sparta Blog";
const defaultDescription =
	"Este es el blog de Axel Sparta donde podrás ver actualizaciones de lo que voy estudiando y voy a estudiar todas las semanas, también puedes ver proyectos y tutoriales creados por mi.";
const defaultKeywords =
	"Axel Sparta blog, Axel Sparta, blog, Axel Sparta blog, Axel Sparta blog, Axel Sparta blog";
const baseUrl = Astro.url.origin;
const resolvedUrl = url ? new URL(url, baseUrl).toString() : Astro.url.toString();
const resolvedImage = image ? new URL(image, baseUrl).toString() : new URL("/page-image.png", baseUrl).toString();
const resolvedTitle = title ?? defaultTitle;
const resolvedDescription = description ?? defaultDescription;
const resolvedKeywords = keywords ?? defaultKeywords;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/notebook.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={resolvedTitle} />
		<meta property="og:description" content={resolvedDescription} />
		<meta property="og:type" content={type} />
		<meta property="og:url" content={resolvedUrl} />
		<meta property="og:image" content={resolvedImage} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={resolvedTitle} />
		<meta property="twitter:description" content={resolvedDescription} />
		<meta property="twitter:image" content={resolvedImage} />
		<title>{resolvedTitle}</title>
		<meta name="description" content={resolvedDescription} />
		<meta name="keywords" content={resolvedKeywords} />
		<link rel="canonical" href={resolvedUrl} />
		<ClientRouter />
	</head>
	<body class="text-slate-950 dark:text-slate-50">
		<div class="fixed left-0 top-0 -z-10 w-full h-full">
			<div
				class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)] dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
			>
			</div>
		</div>
		<div class="mx-auto flex flex-col max-w-4xl min-h-screen">
			<Navbar />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
